{% extends 'base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
<<h2>Список товаров</h2>

<ul>
    {% for product in products %}
    <li>
        <strong>{{ product.name }}</strong> -{{ product.price }} Р
        <br>
        Категория: {{ product.category.name }}
        <br>
        Добавлено: {{ product.created_at| date: "d M Y" }}
    </li>
    {% endfor %}
</ul>
{% endblock %}

<!--<nav>-->
<!--    <a href="?" >Все</a>-->
<!--    <a href="?category=телефоны">Телефоны</a> |-->
<!--    <a href="?category=планшеты">Планшеты</a> |-->
<!--    <a href="?category=аксессуары">Аксессуары</a> |-->
<!--    <a href="?category=ноутбуки">Ноутбуки</a>-->
<!--</nav>-->

<!--<ul>-->
<!--    {% for product in products %}-->
<!--    <li>{{forloop.counter }}. {{ product.name }} — {{ product.price }} руб..</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endblock %}-->